* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/paper-1.png")
}

label {
    display: block;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.submit {   
    display: block;
    margin: 0 auto;
    width: 40%;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    align-self: center;
    background-color: #05386b;
    color: antiquewhite;
}

img {
    border-radius: 50%;
    border: 5px solid grey;
}

.image {
    order: 0;
    align-self: center;
    margin-top: 10%;
    
}

.namepic {
    margin: 0 auto;
}

.name {
    order: 1;
    align-self: center;
    margin: 5% 0;
}

.title {
    order: 2;
    align-self: center;
    margin-bottom: 5%;
}

.description {
    order: 3;
    align-self: center;
    margin: 5% 10%;
    margin-bottom: 5%;

}


nav {
    display: flex;
    width: 100%;
    background-color: #0d60b3;
    position: sticky;
    top: 0%;

}

.links {
    flex: 5;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
}

.github {
    flex: 1;
    font-size: 4rem;
    margin-top: 5%;
}

.gitlink {
    margin-right: 5%;

}

.gitdesc {
    padding-left: 14%;
}

.container {
    margin: 5% 0;
    padding: 0 10%;
}

h2 {
    margin: 0% auto;
    margin-top: 5%;
    width: fit-content;
    border-bottom: 2px solid black;
    padding-top: 5em;
}

h3 {
    margin: 5% 0;
}

#skills {
    margin-bottom: 5%;
}

form {
    margin: 5% auto;
    max-width: 500px;
    min-width: 200px;
    width: 60vw;
}

fieldset {
    padding: 4%;
}

.l1, .l2, .l3, .l4 {
    list-style-type: none;
    margin: 1% 0;
}

a:link {
    color: #dff2c2;
    text-decoration: none;
}

a:visited {
    color: #dff2c2;
}

footer {
    margin-bottom: -1%;
    color: antiquewhite;
    background-color: #05386b;
}

.contactdetails {
    margin: 0 auto;
    padding-bottom: 4%;
    width: 90vw;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.contacts {
    align-self: center;
    font-size: 0.5rem;
    width: fit-content;
}

#contact {
    padding-top: 1em;
}

a {
    width: fit-content;
}

a:hover {
    background-color: #0d60b3;
}

h3 a:link { 
    color: rgb(39, 23, 219); 
} 

h3 a:hover { 
    color: rgb(39, 23, 219); 
    background-color: #6496c8; 
} 

h3 a:active { 
    color: white; 
} 

h3 a:visited { 
    color: rgb(39, 23, 219); 
}

@media screen and (min-width: 425px) {
    body {
        font-size: 25px;
    }

    form {
    margin: 5% auto;
    max-width: 600px;
    min-width: 200px;
    width: 80%;
    }

    .contacts {
        font-size: 1.5rem;
    }

    h3 a:link { 
    color: rgb(39, 23, 219); 
    } 

    h3 a:hover { 
    color: rgb(39, 23, 219); 
    background-color: #6496c8; 
    } 

    h3 a:active { 
    color: white; 
    } 

    h3 a:visited { 
    color: rgb(39, 23, 219); 
    }
}

@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .header {
        grid-area: header;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        background: url(https://i.ibb.co/2hkcc8r/dylan-shaw-12-R-zn-Wt-JHQ-unsplash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: #05386b;


    }

    .nav {
        grid-area: nav;
        padding: 20px 20px 20px 15px;
    }

    .container {
        grid-area: container;
        padding: 0;
        padding-left: 10%;
        margin: 0;
    }

    .footer {
        grid-area: footer;

    }
    
    body {
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav container container"
        "footer footer footer";
        font-size: 30px;
    }

    .title {
        margin: 0 10%;  
    }

    .image {
        margin-top: 0;
        flex: 1;
    }

    

    img {
        margin: 100px 50px;
    }

    h2{
        margin: 5% 0;
        padding: 0;
    }

    .skills ul {
        margin-bottom: 5%;
    }

    form {
    margin: 5% auto;
    max-width: 800px;
    min-width: 200px;
    width: 80%;
    }

    .nav {
        display: block;
        position: sticky;
        top: 0%;
        left: 0;
        height: 100vh;
    }

    #contact {
        margin: 0 auto;
    }

    .education {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .experience {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    h3 {
        margin: 0;
    }

    h3 + p {
        margin-bottom: 5%;
        margin-right: 5%;
    }

    li {
        padding-right: 5%;
        margin-left: 5%;
    }

    .container {
        margin-right: 5%;
    }

    h3 a:link {
        color: rgb(39, 23, 219);
    }

    h3 a:hover {
        color: rgb(39, 23, 219);
        background-color: #6496c8;
    }

    h3 a:active {
        color: white;
    }

    h3 a:visited {
        color: rgb(39, 23, 219);
    }

    footer {
        z-index: 1;
    }
    
    a:hover, li:hover {
        background-color: #d2c9c952;
        transform: scale(1.2);
    }

}
